
.header{
    background: linear-gradient(180deg, #F2D2BD,#9F2B68, #DE3163);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.lead{
    color: #F2D2BD;
}
.content-section {
    flex-grow: 1;
  }
.navbar-brand{
    color: #ffff;
}
.nav-link{
    color: #ffff;
}
.text{
color:#ffff;
}
.fa-solid{
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
    padding: 6px;
    color:#DE3163;
}
.btn{
    background-color: #342056;
    color: #ffff;
}
.buttons{
    background-color: #DE3163;
    color: #ffff;
    border: none;

}