<div class="header">
<app-nav></app-nav>
    <section class="content-section">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <h1 class="display-4 fw-bold"><span class="text">Your Hair,</span> Your Time, Your Way!</h1>
            <p class="lead pb-3 pt-4">Tired of the hassle of scheduling your hair appointments? With Beauty Lounge,
               you can book your next salon visit with just a few taps! </p>
            <button class="btn px-5 py-3 d-inline-block" routerLink="/login">Book Now</button>
          </div>
          <div class="col-12 col-lg-6">
            <img src="" alt="" class="image-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>

<section class="container py-4 mt-5">
    <div class="row">
        <div class="col-12 col-lg-5">
            <img src="assets\images\WhatsApp Image 2024-06-28 at 01.27.19_7837982d.jpg" alt="" class="img-fluid d-block mx-auto my-3" style="max-width: 100%; height: auto;">
        </div>

        <div class="col-12 col-lg-7">
            <div class="text-center text-md-start p-4">
                <h4 class="text fs-2 " style="color:  #DE3163;">About Beauty Lounge</h4>

            <p>At Beauty Lounge, we understand that your time is precious and your style is personal. 
              That’s why we’ve created a seamless, user-friendly app to help you book your hair appointments effortlessly. 
              Whether you’re scheduling a quick trim or a complete makeover, Beauty Lounge makes it easy to find 
              and reserve your preferred services at your favorite salons.</p>

              <h4 class="text fs-2" style="color: #DE3163">Our Mission</h4>
            <p>Our mission is to revolutionize the way you book hair appointments by providing a 
              platform that combines convenience, personalization, and reliability. 
              We strive to make your salon experience as smooth and enjoyable as possible, 
              ensuring you look and feel your best.</p>

              <h4 class="text fs-2 " style="color: #DE3163">Join the Beauty Lounge Community</h4>
            <p>Download Beauty Lounge today and join a community of users who value convenience and style. 
              Stay updated with the latest trends, exclusive offers, and tips from top stylists. 
              With Beauty Lounge, your perfect look is always within reach.</p>


            <button class="buttons px-5 py-2 d-inline-block fs-5 " routerLink="/login">Explore Now </button>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">

    <div class="row">
        <div class="col-12">
            <h2 class="text fs-1 text-center p-5" style="color: #DE3163">Key Objectives</h2>
        </div>
    </div>

<div class="row">
    <div class="col-lg-4">
      <div class="card p-3 shadow">
        <i class="fa-solid fa-user"></i>
        <h3>Convenience</h3>
        <p class="card-text">
          With Beauty Lounge, you can schedule your hair appointments anytime, 
          anywhere, directly from your smartphone. No more waiting on 
          hold or trying to find a convenient time to call the salon.
        </p>
      </div>
    </div>
   
    <div class="col-lg-4">
        <div class="card p-3 shadow">
            <i class="fa-solid fa-lightbulb"></i>
          <h3>Personalized Service</h3>
          <p class="card-text">
            At Beauty Lounge, we believe your salon experience should be as unique as you are.
            Our app allows you to select your favorite stylists, view their profiles, 
            and choose the services that best suit your needs.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card p-3 shadow">
            <i class="fa-solid fa-shield-halved"></i>
          <h3>Instant Confirmation</h3>
          <p class="card-text">
            Say goodbye to uncertainty and last-minute surprises. 
            Beauty Lounge provides you with immediate confirmation of your appointment, 
            so you know exactly when and where your service is scheduled.
          </p>
        </div>
      </div>
</div>
</section>

<app-footer></app-footer>