
.header{
    background: linear-gradient(180deg, #60a0b0, #639cd9, #342056);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.content-section {
    flex-grow: 1;
  }
.navbar-brand{
    color: #ffff;
}
.nav-link{
    color: #ffff;
}
.text{
color:#ffff;
}
.fa-solid{
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
    padding: 6px;
    color: #639cd9;
}
.btn{
    background-color: #342056;
    color: #ffff;
}
.buttons{
    background-color: #639cd9;
    color: #ffff;
    border: none;

}