<div class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand fw-bold" href="#">MO10</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fs-5" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" routerLink="/dashboard">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/login">Login</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="content-section">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <h1 class="display-4 fw-bold"><span class="text">Elevate</span> Your Game in Style!</h1>
            <p class="lead pb-3 pt-4">Explore our curated collection of cutting-edge athletic apparel and gear up to conquer your fitness goals with style.</p>
            <button class="btn btn-primary px-5 py-3 d-inline-block">Shop Now</button>
          </div>
          <div class="col-12 col-lg-6">
            <img src="" alt="" class="image-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  

<section class="container py-4 mt-5">
    <div class="row">
        <div class="col-12 col-lg-5">
            <img src="assets\images\arsenal-5-min.jpg" alt="" class="img-fluid d-block mx-auto my-3" style="max-width: 100%; height: auto;">
        </div>

        <div class="col-12 col-lg-7">
            <div class="text-center text-md-start p-4">
                <h2 class="text-primary fs-1 fw-bold">About MO10 Hub</h2>

            <p>Step into the world of MO10, where every stitch is a testament to unparalleled quality and style. 
                Our mission is simple: to empower athletes and fitness enthusiasts with top-of-the-line sportswear that 
                not only performs but also makes a statement. From moisture-wicking fabrics that keep you dry during intense 
                workouts to sleek designs that turn heads wherever you go, MO10 is where functionality meets fashion.</p>

            <p>Experience the difference with our carefully curated collection, 
                meticulously crafted to enhance your performance and elevate your confidence.
                Whether you're hitting the gym, dominating the field, or simply embracing an active lifestyle,
                MO10's innovative apparel and gear are your ultimate companions. Join the MO10 community today and 
                embark on a journey of athletic excellence, fueled by passion, style, and relentless determination.</p>

            <button class="btn btn-primary px-5 py-2 d-inline-block fs-5 fw-bold">Explore Now </button>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">

    <div class="row">
        <div class="col-12">
            <h2 class="text-primary fs-1 text-center p-5">Key Objectives</h2>
        </div>
    </div>

<div class="row">
    <div class="col-lg-4">
      <div class="card p-3 shadow">
        <i class="fa-solid fa-user"></i>
        <h3>Community Engagement</h3>
        <p class="card-text">
            Build a strong community of athletes and fitness enthusiasts through exclusive content, 
            events, and collaborations, fostering motivation and support among users.
        </p>
      </div>
    </div>
   
    <div class="col-lg-4">
        <div class="card p-3 shadow">
            <i class="fa-solid fa-lightbulb"></i>
          <h3>Fashion-forward Design</h3>
          <p class="card-text">
              Offer a range of stylish and trendy athletic apparel that not only 
              performs well but also reflects the latest fashion trends, 
              enabling users to express their personal style while staying active.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card p-3 shadow">
            <i class="fa-solid fa-shield-halved"></i>
          <h3>Enhanced Performance</h3>
          <p class="card-text">
            Provide sportspersons with high-performance sportswear that enhances their physical abilities,
            endurance, and comfort during workouts, training sessions, and competitions.
          </p>
        </div>
      </div>

</div>
</section>

<app-footer></app-footer>