h2{
    text-align: center;
    color: #342056;
}
.login{
    background: linear-gradient(180deg, #60a0b0, #639cd9, #342056);
    min-height: 100vh;
}
.container{
   background-color: #ffff;
   margin-top: 10%;
   height: 50vh;
   width: 35%; 
   box-shadow: 0 14px 6px rgba(242, 39, 39, 0.1); 
   border-radius: 10px
}
.btn{
    width: 30%;
    margin-left: 30%;
}