h2{
    text-align: center;
    color: #9F2B68;
}
.login{
    background: linear-gradient(180deg, #F2D2BD,#9F2B68, #DE3163);
    min-height: 100vh;
}
.card{
   margin-top: 35%;
   border-radius: 10px;
   padding: 3%;
}
.btn{
    width: 20%;
    margin-left: 40%;
    background-color: #DE3163;
}